.all{
    margin-left: 20%;
}

.profilePicture{
    max-height: 55%;
    max-width: 55%;
    border-radius: 2%;
}

.email{
    color: rgb(188, 201, 229);
}

.card{
    background-color: #3f444e;
    border-radius: 20px;
    padding:5%;
    width: 80%;
}   