.icon{
    max-width: 40%;
    border-radius: 15%;
    text-align: center;
    margin-right: 5%;
}

.all{
    display:flex;
    background-color: #1f232b;
    border-radius: 20px;
    padding: 0.5%;
    margin:1%;
}

.title{
    text-align: center;
}